attrs==19.3.0
colorama==0.4.3
docopt==0.6.2
html2txt==0.6.0
html5lib==1.0.1
importlib-metadata==1.6.0
mistune==0.8.4
more-itertools==8.3.0
packaging==20.4
pathtools==0.1.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.2
pytest-mock==3.1.0
pytest-watch==4.2.0
six==1.15.0
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
zipp==3.1.0
